html, body {
    background: #3b0fdd;
    background: -webkit-linear-gradient(to right, #131414, #3b0fdd);
    background: linear-gradient(to right, #131414, #3b0fdd);
    height: 100%;
    min-width: 500px;
  }
  
  #citation {
    font-size: 2em;
    font-family: 'Satisfy', curve;
    line-height: 1.3em;
    letter-spacing: 1px;
  }
  
  #citation:before {
      content: open-quote;
  }
  
  #citation:after {
      content: close-quote;
  }
  
  #auteur {
    font-size: 1.5em;
    font-style: italic;
    font-weight: bold;
  }
  
  #nouveau {
    background: #0bec61;
    background: -webkit-linear-gradient(to right, #d7ff5e, #0bec61);
    background: linear-gradient(to right, #d7ff5e, #0bec61);
    cursor: pointer;
    font-size: large;
  }